{% extends 'base.html.twig' %}

{% block title %}Prueba - Empleado{% endblock %}
{% block stylesheets %}
  {{ parent() }}
  {{ encore_entry_link_tags('empleado_index') }}
  {{ encore_entry_link_tags('css/globales/datatables') }}
{% endblock %}


{% block body %}
  <div class="card">
    <div class="card-header h4">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb m-0">
          <li class="breadcrumb-item"><a href="#">{{vista_txt}}</a></li>
          <li class="breadcrumb-item active" aria-current="page">{{modulo_txt}}</li>
        </ol>
      </nav>
    </div>
    <div class="card-body">
      <table id="my-datatable" class="display my-datatable bg-white" style="width:100%">
        <tfoot>
          <tr>
            <th class="bg-light" id="my-datatable-tfoot-buttons" colspan="8"></th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script>
    var oSwal;
    var oMyDatatable;
    var aDfColumnsButtons = {{dfColumnsButtons|raw}};
    aRoutesUrls.indexJson = "{{ path('empleado_controller_json') }}";
    aRoutesUrls.indexNew = "{{ path('empleado_controller_new') }}";
    aRoutesUrls.indexEdit = "{{ path('empleado_controller_edit') }}";
    aRoutesUrls.indexDelete = "{{ path('empleado_controller_delete') }}";
  </script>
  {{ encore_entry_script_tags('empleado_index') }}
{% endblock %}