{% if frm_msj is defined and frm_msj != null %}
  {{ frm_msj }}
{% endif %}
{{ form_errors(form) }}

{# autocomplete='off' #}
<form id='form-crud'>
  <div class='row'>
    <div class='col-12'>
      <div class='alert alert-primary fw-bold' style='background-color: #E0ECFF!important;' role='alert'>
        Los campos con asterisco (*) son obligatorios.
      </div>
    </div>
    <!-- Nombres -->
    <div class='col-12 row mt-3'>
      <div class='col col-md-5 pe-0 text-end'>
        {{ form_label(form.nombre) }}&nbsp;<i class='fa fa-asterisk text-danger' aria-hidden='true'></i>:
      </div>
      <div class='col col-md-7'>
        {{ form_widget(form.nombre) }}
      </div>
    </div>
    <!-- Email -->
    <div class='col-12 row mt-3'>
      <div class='col col-md-5 pe-0 text-end'>
        {{ form_label(form.email) }}&nbsp;<i class='fa fa-asterisk text-danger' aria-hidden='true'></i>:
      </div>
      <div class='col col-md-7'>
        {{ form_widget(form.email) }}
      </div>
    </div>
    <!-- Sexo -->
    <div class='col-12 row mt-3'>
      <div class='col col-md-5 pe-0 text-end'>
        <label class='fw-bold required' for='empleado_sexo'>Sexo</label>&nbsp;<i class='fa fa-asterisk text-danger' aria-hidden='true'></i>:
      </div>
      <div class='col col-md-7'>
        <div class='form-check'>
          <input class='form-check-input' type='radio' name='empleado[sexo]' id='empleado_sexo_m' value='M' {% if entity.sexo == 'M' %}checked{% endif %} required>
          <label class='form-check-label' for='empleado_sexo_m'>
            Masculino
          </label>
        </div>
        <div class='form-check'>
          <input class='form-check-input' type='radio' name='empleado[sexo]' id='empleado_sexo_f' value='F' {% if entity.sexo == 'F' %}checked{% endif %} required>
          <label class='form-check-label' for='empleado_sexo_f'>
            Femenino
          </label>
        </div>
      </div>
    </div>
    <!-- Area -->
    <div class='col-12 row mt-3'>
      <div class='col col-md-5 pe-0 text-end'>
        {{ form_label(form.area) }}&nbsp;<i class='fa fa-asterisk text-danger' aria-hidden='true'></i>:
      </div>
      <div class='col col-md-7'>
        {{ form_widget(form.area) }}
      </div>
    </div>
    <!-- Descripcion -->
    <div class='col-12 row mt-3'>
      <div class='col col-md-5 pe-0 text-end'>
        {{ form_label(form.descripcion) }}&nbsp;<i class='fa fa-asterisk text-danger' aria-hidden='true'></i>:
      </div>
      <div class='col col-md-7'>
        {{ form_widget(form.descripcion) }}
      </div>
    </div>
    <!-- Boletin -->
    <div class='col-12 row mt-3'>
      <div class='col col-md-5 pe-0 text-end'>
        <label class='fw-bold required' for='empleado_boletin'>Boletín</label>:
      </div>
      <div class='col col-md-7'>
        <div class='form-check form-switch'>
          <input class='form-check-input' type='checkbox' role='switch' id='empleado_boletin' name='empleado[boletin]' {% if entity.boletin == 1 %}checked{% endif %}>
          <label class='form-check-label' for='empleado_boletin'>Deseo recibir boletín informativo</label>
        </div>
      </div>
    </div>
    <!-- Roles -->
    <div class='col-12 row mt-3'>
      <div class='col col-md-5 pe-0 text-end'>
        <label class='fw-bold required'>Roles</label>&nbsp;<i class='fa fa-asterisk text-danger' aria-hidden='true'></i>:
      </div>
      <div class='col col-md-7'>
        {% for rol in roles %}
          {% set checked = '' %}
          {% for rolAct in rolesActivos %}
            {% if rol.id == rolAct.id %}
              {% set checked = 'checked' %}
            {% endif %}
          {% endfor %}
          <div class='form-check form-switch'>
            <input class='form-check-input check-roles' type='checkbox' role='switch' id='empleado_roles_{{rol.id}}' name='empleado[roles][]' value='{{rol.id}}' {{checked}}>
            <label class='form-check-label' for='empleado_roles_{{rol.id}}'>{{rol.nombre}}</label>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

  {# Botones #}
  <button type='submit' id="btn-mdl-submit" hidden>...</button>
  {% if action == 'edit' %}
    <input type='hidden' name='registroId' value='{{registroId}}'>
  {% endif %}

</form>

<script type='text/javascript'>
  var action = "{{action}}";
  aRoutesUrls.indexCrud = aRoutesUrls.indexNew;
  if( action == 'edit' ){

    let sAreaId = '{{entity.area.id}}';
    $('#empleado_area').val(sAreaId);

    aRoutesUrls.indexCrud = aRoutesUrls.indexEdit;
  }
</script>