<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <!-- Title -->
    <title>{% block title %}Prueba Técnica{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
      {{ encore_entry_link_tags('app') }}
    {% endblock %}
  </head>
  <body>

    <!-- LOADER -->
    <div id="loading">
      <div id="loader-wrapper">
        <div id="loader"></div>
      </div>
    </div>

    <div class='container-fluid mt-2'>
    {% block body %}{% endblock %}
    </div>

    <!-- Vertically centered scrollable modal -->
    <div class='modal fade' id='modalGlobal' tabindex='-1' aria-labelledby='exampleModalLabel' aria-hidden='true'>
      <div class='modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable'>
        <div class='modal-content'>
          <div class='modal-header'>
            <h1 class='modal-title fs-5' id='tituloModalGlobal'>Modal title</h1>
            <button type='button' class='btn-close' data-bs-dismiss='modal' aria-label='Close'></button>
          </div>
          <div class='modal-body' id='contenidoModalGlobal'>...</div>
          <div class='modal-footer'>
            <button type='button' class='btn btn-outline-danger fw-bold' data-bs-dismiss='modal'>
              Cerrar&nbsp;<i class="fa-regular fa-circle-xmark"></i>
            </button>
            <button type='button' class='btn btn-outline-success fw-bold' id='btn-save-modalGlobal'>
              Guardar&nbsp;<i class="fa-solid fa-floppy-disk"></i>
            </button>
          </div>
        </div>
      </div>
    </div>

    {# --- --- --- javascripts --- --- --- #}
    {% block javascripts %}
      <script type="text/javascript">
        var aRoutesUrls = {};
        var bAuthenticated = false;
        // Authenticated
        {% if is_granted('IS_AUTHENTICATED_FULLY') %} bAuthenticated = true; {% endif %}
      </script>
      {{ encore_entry_script_tags('app') }}
    {% endblock %}
  </body>
</html>
